include setup.py README.md MANIFEST.in LICENSE
include cyksuid/py.typed
recursive-include cyksuid *.h *.c *.cc *.cpp
recursive-include cyksuid *.pyx *.pxd *.pyi *.py

global-exclude *.pyc
global-exclude *.pyd
global-exclude *.pyo
global-exclude *.so
global-exclude .git*
global-exclude *~
