black; platform_python_implementation != "PyPy"
codecov
# coverage 5 has issues with Cython: https://github.com/cython/cython/issues/3515
coverage<5
cython==3.0.0a11
flake8
mypy; platform_python_implementation != "PyPy"
pytest
pytest-benchmark
# pytest-cov 2.11 requires coverage 5, which still doesn't work with Cython
pytest-cov==2.10.*

pytest-rerunfailures

# Development dependencies
types-setuptools
